<header>
  <nav>
    <div class="page-title">DECRYPTO</div>
  </nav>
</header>

<div class="container">
  <div class="columns is-multiline mb-3">
    <div class="column is-half-tablet is-one-quarter-fullhd" *ngFor="let word of words; let idx = index">
      <app-word-card [word]="word" [index]="idx"></app-word-card>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-content">
      <div class="generated-codes content has-text-centered is-size-2-mobile is-size-3">
        {{ codesMap.size > 0 ? codes.join('') : '000' }}
      </div>
    </div>
  </div>

  <button [disabled]="wordsMap.size === 0 || codesMap.size > 0" class="button" (click)="generateCode()">
    Generate code
  </button>
  <button (click)="randomizeWords()" class="button">Pick words for me</button>
</div>

<footer class="footer">
  <div class="content has-text-centered">
    2023
  </div>
</footer>
